.card-header {
    color: #fafafa;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
    background-color: #bbb;
    background-image: url('C:/Users/Salma Majri/Angular/PiCloud/src/assets/cardHeader.png'); 
    background-size: cover; 
    background-position: center;
    
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  
  .card {
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
    padding: 20px;
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;

}
 .form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 15px 20px;
  }
  .form-group{
    margin-top: 8px;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #002147;
  }
  
  .form-control::placeholder {
    color: #bbb;
  }
  
.form-dl {
    display: inline-block;
    width: 50%;
    height: 150px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.btn-animation {
    animation: none;
    transition: transform 0.8s ease;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1d147c;
    color: #fffefe;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
}

.btn-animation:hover {
    animation: pulse 1s infinite;
    background-color: #A1C7E0;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
  
.is-invalid {
    border-color: red;
    transition: border-color 0.10s ease-in-out;
}
.animated {
      animation-duration: 0.8s;
      transition: transform 0.5s ease-in-out;
}
.shake {
    animation-name: shake;
}
@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-10px, 0);
    }
    40% {
        transform: translate(10px, 0);
    }
    60% {
        transform: translate(-10px, 0);
    }
    80% {
        transform: translate(10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.closebtn {
    float: right;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #000;
}

  .confirmation-dialog {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.confirmation-dialog .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.confirmation-dialog .message {
    font-size: 16px;
    margin-bottom: 20px;
}

.confirmation-dialog .buttons {
    display: flex;
    justify-content: center;
}

.confirmation-dialog .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.confirmation-dialog .buttons button.cancel {
    background-color: #dc3545;
}
.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Ajustez la largeur selon vos besoins */
    height: 200px; /* Ajustez la hauteur selon vos besoins */
    background-color: #f7f7f7; /* Couleur de fond */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Assurez-vous que la boîte de dialogue est au-dessus du contenu */
}

.confirmation-dialog h2 {
    color: #333; /* Couleur du texte pour le titre */
}

.confirmation-dialog p {
    color: #666; /* Couleur du texte pour le paragraphe */
}


/* CSS pour les boutons animés */
.animated-button {
    background-color: #4CAF50; /* Couleur de fond par défaut */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animation de transition de couleur de fond */
}

.animated-button:hover {
    background-color: #45a049; 
}
.animated-button {
    /* Ajoutez ici les styles de base pour vos boutons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.animated-button:hover {
    background-color: #0056b3; 
}

.animated-button i {
    margin-right: 5px; 
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } 0% {
        filter: blur(10px);
      }
     

}

.animated-button.pulse {
    animation: pulse 1s infinite alternate; 
}

.header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header svg {
    height: 100px;
  }
  
  .header p {
    text-align: center;
    color: black;
  }
  
  .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  
  .footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .footer p {
    flex: 1;
    text-align: center;
  }
  
  #file {
    display: none;
  }


  .continue-application {
    --color: #fff;
    --background: #1d147c;
    --background-hover: #3A4059;
    --background-left: #e6e8ef;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
  }
  .continue-application:hover {
    animation: pulse 1s infinite;
    background-color: #A1C7E0;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }

  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: white;
    margin-left: 550px;
  }
 
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: rgb(27, 63, 95);
  }
 
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: rgb(27, 63, 95);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    width: 200px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
 
  .Btn:active {
    transform: translate(2px ,2px);
  }

