.two-factor-authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h1 {
        margin-bottom: 20px;
    }

    .code-entry,
    .qr-code {
        margin-bottom: 40px;

        h2 {
            margin-bottom: 10px;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 5px;
            }

            input {
                padding: 8px;
                margin-bottom: 10px;
            }

            button {
                padding: 8px 15px;
                background-color: #007bff;
                color: #fff;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        img {
            max-width: 300px; /* Adjust the maximum width of the QR code image */
            height: auto; /* Maintain aspect ratio */
            display: block;
            margin: 0 auto; /* Center the image horizontally */
        }

        button {
            padding: 8px 15px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
