<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
  
        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
  
<div class="container">
    <h1>Statistiques de réclamations</h1>
    <div class="stat">
        <!-- Card for reclamations traitées -->
        <div class="card">
            <div class="card-content">
                <p><span class="label">Nombre de réclamations traitées :</span> {{ reclamationsTraitees }}</p>
            </div>
        </div>
        <!-- Card for reclamations non traitées -->
        <div class="card" [ngClass]="{'red-card': reclamationsNonTraitees > 1}">
            <div class="card-content">
                <p><span class="label">Nombre de réclamations non traitées :</span> {{ reclamationsNonTraitees }}</p>
            </div>
        </div>
    </div>
</div>
