<div class="content">
    <div *ngIf="stageToUpdate">
        <h2>Edit stage</h2>
        <form (ngSubmit)="updateStage()">
          <div class="form-group">
            <label for="titre">Titre :</label>
            <input type="text" id="titre" name="titre" class="form-control" [(ngModel)]="stageToUpdate.title" required>
          </div>
          
          <div class="form-group">
            <label for="description">Description :</label>
            <input type="text" id="description" name="description" class="form-control" [(ngModel)]="stageToUpdate.description" required>
          </div>
          <div class="form-group">
            <label for="location">Location :</label>
            <input type="text" id="location" name="location" class="form-control" [(ngModel)]="stageToUpdate.location" required>
          </div>
          <div class="form-group">
            <label for="company">Company :</label>
            <input type="text" id="company" name="company" class="form-control" [(ngModel)]="stageToUpdate.company" required>
          </div>
          <div class="form-group">
            <label for="duration">Duration :</label>
            <input type="text" id="duration" name="duration" class="form-control" [(ngModel)]="stageToUpdate.duration" required>
          </div>
          <div class="form-group">
            <label for="publicationDate">Publication Date :</label>
            <input type="text" id="publicationDate" name="publicationDate" class="form-control" [(ngModel)]="stageToUpdate.publicationDate" required>
          </div>
      
          <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </form>
      </div>
    </div>