body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topics {
  border: 1px solid #ddd;
  padding: 10px;
}

.topics ul {
  list-style: none;
  padding: 0;
}

.topics li {
  margin-bottom: 10px;
}



.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.timer-label {
  margin-right: 5px;
}

.timer-value {
  color: #ff5722; /* Orange color */
}
/* Adjust image size to make it similar to an icon */
.icon {
  width: 30; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
  vertical-align: middle; /* Align image vertically with text */
}
/* Ajoutez une marge à droite pour créer de l'espace entre le temps et l'image */
.icon-container {
  margin-left: 8px; /* Ajustez la valeur selon vos préférences */
}
/* Animation pour faire tourner l'image */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Appliquer l'animation à l'image */
.spinning {
  animation: spin 1s linear infinite; /* Fait tourner l'image indéfiniment */
}

