<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em">Welcome to Esprit Forum home page. Come here to
        check in with your favorite subforums.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubforum" (click)="goToCreateSubforum()">Create Subforum</button>
    </div>
</div>