  
  <div class="card-group">
    <div class="card" style="width: 18rem;" *ngFor="let stage of stagesResults">
      <div class="card-body">
        <h5 class="card-title">{{ stage.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ stage.company }}</h6>
        <p class="card-text">{{ stage.description }}</p>
        <p class="card-text">{{ stage.location }}</p>
        <p class="card-text">{{ stage.duration }}</p>
        <p class="card-text">{{ stage.publicationDate| date}}</p>
        <a href="#" class="card-link">Apply for internship</a>
      </div>
    </div>
  </div>