<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-6">
                  <h2>Apply For <b>INTERNSHIP</b></h2>
              </div>
              <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-dark" (click)="goToList()">Go to List</button>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let stage of stages; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ stage.title }}</h5>
          <p class="card-text">{{ stage.company }}</p>
          <p class="card-text">Location: {{ stage.location }}</p>
          <p class="card-text">Publication Date: {{ stage.publicationDate | date:'yyyy-MM-dd' }}</p>
          <hr>
          <h5>Upload CV</h5>
          <input type="file" (change)="onFileChanged($event)" />
          <button id= "btnenvoyer" type="button" class="btn btn-success" *ngIf="isFileUploaded" (click)="sendFile(i)">Envoyer</button>
          <div *ngIf="filesSent[i]" class="alert alert-success mt-2">Fichier envoyé avec succès !</div>
        </div>
      </div>
    </div>
  </div>
</div>